@using ChefBox.AdminUI.ViewModels.Base
@model ChefBoxViewModel
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <span class="hide-menu">Home </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fas fa-utensils"></i>
                        <span class="hide-menu">Cooking </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Recipe" asp-action="Index" class="sidebar-link">
                                <i class="fas fa-sticky-note"></i>
                                <span class="hide-menu"> Recipes </span>
                                <span class="badge badge-pill badge-success ml-auto m-r-15">@Model.SharedContentDto.RecipesCount</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Ingredient" asp-action="Index" class="sidebar-link">
                                <i class="fas fa-lemon"></i>
                                <span class="hide-menu"> Ingredients </span>
                                <span class="badge badge-pill badge-info ml-auto m-r-15">@Model.SharedContentDto.IngredientsCount</span>

                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="index3.html" class="sidebar-link">
                                <i class="fas fa-tags"></i>
                                <span class="hide-menu"> Categories </span>
                                <span class="badge badge-pill badge-info ml-auto m-r-15">@Model.SharedContentDto.CategoriesCount</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fas fa-cogs"></i>
                        <span class="hide-menu">Settings </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
