@using ChefBox.AdminUI.ViewModels.Recipe
@model IndexViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary float-right" asp-controller="Recipe" asp-action="RecipeForm"><i class="fas fa-plus"></i> New recipe</a>
                <h4 class="card-title">Recipes</h4>
                <h6 class="card-subtitle">Show all recipies</h6>
            </div>
        </div>
    </div>
</div>