@using ChefBox.AdminUI.ViewModels.Ingredient
@model IndexViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <a class="btn btn-primary float-right"  asp-controller="Ingredient" asp-action="IngredientForm"><i class="fas fa-plus"></i> New ingredient</a>
                <h4 class="card-title">Ingredients</h4>
                <h6 class="card-subtitle">Show all ingredients for all recipies</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Recipes</th>
                                <th scope="col">Description</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <tr>
                                    <td>@ingredient.Name</td>
                                    <td>@ingredient.RecipesCount</td>
                                    <td>@ingredient.Description</td>
                                    <td>
                                        <a asp-controller="Ingredient"
                                           asp-action="IngredientForm"
                                           asp-route-id="@ingredient.Id"
                                           class="btn btn-secondary btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>